html, body { background: #1e1f24; height: 100%; margin: 0; padding: 0;  }
.main { box-sizing: border-box; height: 100vh; padding: 30vh 0 0; width: 800px; max-width: 100%; margin: auto; }
.main h1 { font-family: "Open Sans"; font-size: 42px; color: #9F1930; margin-bottom: 0; }
.main h2 { font-family: "Merriweather"; font-size: 22px; font-weight: 400; color: rgba(255, 255, 255, 0.1); margin-top: 0; }
.text-center { text-align: center; }
.text-upper { text-transform: uppercase; }